<%= form_for(task) do |f| %>

  <%= f.hidden_field :project_id %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control", rows: 6 %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <% if task.new_record? %>
      <%= f.number_field :deadline, min: 1, value: 1 , :style => "width: 50px;" %><span>&nbsp;hours</span>
     <% else %>
      <span><%= task.until_deadline %>&nbsp;(don't fill in if don't want to change)</span>
      <div style="display: none;">
        <%= f.datetime_select :deadline, :class => "form-control" %>
      </div>
      <%= number_field :task_deadline_hours, nil, min: 1, :style => "width: 50px;" %><span>&nbsp;hours</span>
     <% end %> 
  </div>
  <div class="form-group">
    <%= f.label :priority %><br>
    <%= f.select :priority, Task::PRIORITIES %>
  </div>

  <ul>
    <% [flash[:error]].compact.flatten.each do |msg| %>
      <li class="text-danger"><%= msg %></li>
    <% end %>

  </ul>

  <div class="actions">
    <%= f.submit task.new_record? ? "Create" : "Edit", :class => "btn btn-primary" %>
  </div>
<% end %>
