<div class="row task-in-list">
  <div class="col-md-5">
    <div class="row">
      <%= link_to task, :class => "text-primary project-title-list" do %>
        <h5><%= task.title %></h5>
      <% end %>
    </div>
    <div class="row">
      <span class="glyphicon glyphicon-time"></span>
      <small> <%= task.updated_at.strftime("%b %d %Y %H:%M") %></small>
    </div>
  </div>

  <div class="col-md-7 actions">
    <div class="row">
        <% if current_user && current_user.projects.include?(task.project) %>
          <div class="col-md-2">
            <%= link_to '', edit_task_path(task), :class => "glyphicon glyphicon-edit edit" %>
            <%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-remove remove" %>
          </div>

          <div class="col-md-3">
            <div class="row"><span>Status:&nbsp;</span><strong><%= task.text_status %></strong></div>
            <div class="row"><%= change_status_html(task) %></div>
          </div>

          <div class="col-md-3 task-priority">
            <strong>P</strong><%= change_priority_html(task) %>
          </div>
        <% end %>
    </div>
  </div>

</div>