<div class="row task-show-container">
    <div class="row bg-info task-show-header">
      <div class="col-md-6">
        <h4 class="text-lg text-primary task-title" style="display: inline-block;"><%= @task.title %></h4>
        <%= link_to edit_task_path(@task.id) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end if current_user == @task.project.user %>
        <br/>
        <span>Project:&nbsp</span><%= link_to @task.project.title, project_path(@task.project_id) %>
      </div>

      <div class="col-md-6 pull-right">
        <div class="row">
          <div class="col-md-4">
            <div class="row"><span>Status:&nbsp;</span>
              <strong><%= @task.text_status %></strong>
            </div>
            <% if current_user == @task.project.user %>
              <div class="row"><%= change_status_html(@task) %></div>
            <% end %>
          </div>
          <div class="col-md-2"><strong>P</strong>
            <% if current_user == @task.project.user %>
              <%= change_priority_html(@task) %>
            <% else %>
              <strong><%= @task.priority %></strong>
            <% end %>
          </div>
          <div class="col-md-6">
              <div class="row">Deadline&nbsp;<strong><%= @task.until_deadline %></strong></div>
              <% if current_user == @task.project.user %>
                <div class="row"><%= link_to "Change", edit_task_path(@task), :class => "btn btn-xs" %></div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 task-description">
        <%= @task.description %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Created&nbsp;&nbsp;<%= @task.created_at.strftime("%b %d %Y %H:%M") %>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Updated&nbsp;&nbsp;<%= @task.updated_at.strftime("%b %d %Y %H:%M") %>
      </div>

    </div>
</div>