<div class="row project-in-list">
  <div class="col-md-6">
    <div class="row">
      <%= link_to project, :class => "text-primary project-title-list" do %>
        <h3><%= project.title %></h3>
      <% end %>
    </div>
    <div class="row" style="padding: 20px 10px;"><%= project.shorten_description %></div>
    <div class="row">
      <span class="glyphicon glyphicon-time"></span>
      <small> <%= project.updated_at.strftime("%b %d %Y %H:%M") %></small>
    </div>
  </div>

  <div class="col-md-3 actions">
    <% if current_user && current_user.projects.include?(project) %>

      <%= link_to '', edit_project_path(project), :class => "glyphicon glyphicon-edit edit" %>
      <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-remove remove" %>
    <% end %>
  </div>

  <div class="col-md-3 owner">
    <span class="glyphicon glyphicon-user"></span><small><%= project.user.email %></small>
  </div>
</div>