<div class="row">

  <div class="col-md-8">
    <h3 class="text-primary project-title">
      <%= [@project.category_name, @project.title].join(" : ") %>
    </h3>

    <div class="row">
      <div class="col-md-12 project-description">
        <%= @project.description %>
      </div>
    </div>

    <div class="row" style="padding-top: 20px">
      <div class="col-md-5">
        <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Created&nbsp;&nbsp;<%= @project.created_at.strftime("%b %d %Y %H:%M") %>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;Updated&nbsp;&nbsp;<%= @project.updated_at.strftime("%b %d %Y %H:%M") %>
      </div>

    </div>

    <div class="row project-tasks">
      <% if @project.tasks.empty? %>
      <span class="text-info">No tasks in this project. You can create new one</span>
      <% else @project.tasks.each do |task| %>
        <%= render partial: "tasks/task", locals: {task: task} %>
      <% end %>
      <% end %>
    </div>
  </div>


  <% if user_signed_in? && @project.user == current_user %>
    <div class="col-md-3 add-section">
      <h4>Add new task</h4>
        <%= render partial: "tasks/form", locals: {task: flash[:task].nil? ? Task.new(project_id: @project.id) : Task.create(flash[:task])} %>
    </div>
  <%end %>

</div>

