<!DOCTYPE html>
<html>
<head>
  <title>Projectsapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag	 "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar navbar-header">
				<a href="#" class="navbar-brand">Projects</a>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar navbar-nav navbar-right">
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<%= yield %>
	</div>


</body>
</html>
